.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --gray-alpha-300: rgba(var(--gray-rgb), 0.05);
  --gray-alpha-400: rgba(var(--gray-rgb), 0.04);
  --gray-alpha-500: rgba(var(--gray-rgb), 0.03);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-geist-sans);

  display: flex;
  flex-direction: column;
  align-content: center;
  height: 95dvh;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --gray-alpha-300: rgba(var(--gray-rgb), 0.05);
    --gray-alpha-400: rgba(var(--gray-rgb), 0.04);
    --gray-alpha-500: rgba(var(--gray-rgb), 0.03);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}
